body{
    background: rgb(17,17,17);
    background: linear-gradient(0deg, rgba(17,17,17,0.4416141456582633) 0%, rgba(0,0,0,1) 89%);
    margin-left: 2rem;
    margin-right: 2rem;
}
header{
    background-color: #000000;
}
ul{
    color: black;
    text-decoration: none;
    background-color: grey;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: 3px;
}
a{
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: 3px;
}
hr{
    color: none;
}
h3{
    color: white;
    font-family: 'Oswald', sans-serif;
}
p{
    color: white;
    font-family: 'Lora', serif;
    font-size: 20px;
    font-weight: 3px;
}
footer{
    background-color: red;
}
.animacion1:hover{
    background-color: white;
    color: black;
    margin-left: 30px;

}
.animacion2:hover{
    background-color: white;
    color: black;
    margin-left: 30px;

}
.animacion3:hover{
    background-color: white;
    color: black;
    margin-left: 30px;

}
.animacion4:hover{
    background-color: white;
    color: black;
    margin-left: 30px;

}
.animacion5:hover{
    background-color: white;
    color: black;
    margin-left: 30px;

}
.animacion6:hover{
    background-color: white;
    color: black;
    margin-left: 30px;

}
.animacion7:hover{
    background-color: white;
    color: black;
    margin-left: 30px;

}
.animacion8:hover{
    background-color: white;
    color: black;
    margin-left: 30px;

}
.animacion9:hover{
    background-color: white;
    color: black;
    margin-left: 30px;

}
.animacion10:hover{
    background-color: white;
    color: black;
    margin-left: 30px;

}
.animacion11:hover{
    background-color: white;
    color: black;
    margin-left: 30px;

}
